:root {
  --bodyBg: rgb(38, 89, 106);
  --headBg: rgb(24, 54, 64);
  --headC: rgb(50, 124, 148);
  --borderC: rgb(9, 19, 22);
  --buttonBg: rgb(24, 54, 64);
  --buttonC: rgb(69, 179, 215);
  --blackCell: rgb(48, 59, 60);
  --whiteCell: rgb(129, 159, 161);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*  border: 1px solid red;*/
}

/*****************
  ***Body section***
  ******************/

body {
  text-align: center;
  font-size: 13px;
  font-family: Roboto, sans-serif;
  display: grid;
  place-items: center;
  background-color: var(--bodyBg);
}

/*******************
***Header section***
*******************/

header {
  min-width: 100vw;
  background-color: var(--headBg);
  color: var(--headC);
  padding: 0.5rem;
}

header * {
  padding: 0.5rem;
}

/**********************
***Container section***
**********************/

.container {
  min-width: 100vw;
  padding: 1rem 1rem;
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}

/******************
***Table section***
******************/

#table {
  box-shadow: 0px 0px 13px 5px var(--borderC);
  margin: 2rem;
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  place-items: center;
}

.cell {
  width: 65px;
  height: 65px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cellStep {
  opacity: 0.1;
}

.cell:hover {
  opacity: 0.4;
}

.blackCell {
  background-color: var(--blackCell);
}

.whiteCell {
  background-color: var(--whiteCell);
}

img {
  width: 80%;
  height: 80%;
}
