:root {
  --bodyBg: rgb(38, 89, 106);
  --headBg: rgb(24, 54, 64);
  --headC: rgb(50, 124, 148);
  --borderC: rgb(9, 19, 22);
  --blackCell: rgb(48, 59, 60);
  --whiteCell: rgb(129, 159, 161);
  --paraC: rgb(70, 149, 85);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*****************
  ***Body section***
  ******************/

body {
  text-align: center;
  font-size: 15px;
  font-family: Roboto, sans-serif;
  display: grid;
  place-items: center;
  background-color: var(--bodyBg);
}

/*******************
***Header section***
*******************/

header {
  min-width: 100%;
  background-color: var(--headBg);
  color: var(--headC);
  padding: 0.5rem;
}

header * {
  padding: 0.5rem;
}

#pathParagraph {
  color: var(--paraC);
}

/**********************
***Container section***
**********************/

.container {
  min-width: 100%;
  padding: 0.5rem 0.5rem;
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}

/******************
***Table section***
******************/

#table {
  box-shadow: 0px 0px 13px 5px var(--borderC);
  margin: 2rem;
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  place-items: center;
}

.cell {
  width: 65px;
  height: 65px;
  font-size: 1.25rem;
  color: rgb(9, 19, 22);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell:hover {
  opacity: 0.4;
}

.blackCell {
  background-color: var(--blackCell);
}

.whiteCell {
  background-color: var(--whiteCell);
}

img {
  width: 80%;
  height: 80%;
}

/************************
***Media query section***
************************/

@media screen and (max-width: 750px) {
  .wwcontainer {
    grid: 4fr 5fr / 1fr 1fr;
  }
}
