:root {
  --bodyBg: rgb(38, 89, 106);
  --headBg: rgb(24, 54, 64);
  --headC: rgb(50, 124, 148);
  --borderC: rgb(9, 19, 22);
  --blackCell: rgb(48, 59, 60);
  --whiteCell: rgb(129, 159, 161);
  --paraC: rgb(70, 149, 85);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*****************
  ***Body section***
  ******************/

body {
  text-align: center;
  font-size: 15px;
  font-family: Roboto, sans-serif;
  display: grid;
  place-items: center;
  background-color: var(--bodyBg);
}

/*******************
***Header section***
*******************/

header {
  min-width: 100%;
  background-color: var(--headBg);
  color: var(--headC);
  padding: 0.5rem;
}

header * {
  padding: 0.5rem;
}

#pathParagraph {
  color: var(--paraC);
}

/**********************
***Container section***
**********************/

.container {
  min-width: 100%;
  padding: 0.5rem 0.5rem;
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}

/******************
***Table section***
******************/

#table {
  box-shadow: 0px 0px 13px 5px var(--borderC);
  margin: 2rem;
  display: grid;
  grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  place-items: center;
}

.cell {
  width: 65px;
  height: 65px;
  font-size: 1.25rem;
  color: rgb(9, 19, 22);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cell:hover {
  opacity: 0.4;
}

.blackCell {
  background-color: var(--blackCell);
}

.whiteCell {
  background-color: var(--whiteCell);
}

/**************************
***Cell columns and rows***
**************************/

.cell::before {
  position: absolute;
  right: 75px;
}

.cell::after {
  position: absolute;
  top: 75px;
}

.cell:nth-child(1)::before {
  content: "8";
}

.cell:nth-child(9)::before {
  content: "7";
}

.cell:nth-child(17)::before {
  content: "6";
}

.cell:nth-child(25)::before {
  content: "5";
}

.cell:nth-child(33)::before {
  content: "4";
}

.cell:nth-child(41)::before {
  content: "3";
}

.cell:nth-child(49)::before {
  content: "2";
}

.cell:nth-child(57)::before {
  content: "1";
}

.cell:nth-child(57)::after {
  content: "A";
}

.cell:nth-child(58)::after {
  content: "B";
}

.cell:nth-child(59)::after {
  content: "C";
}

.cell:nth-child(60)::after {
  content: "D";
}

.cell:nth-child(61)::after {
  content: "E";
}

.cell:nth-child(62)::after {
  content: "F";
}

.cell:nth-child(63)::after {
  content: "G";
}

.cell:nth-child(64)::after {
  content: "H";
}

img {
  width: 80%;
  height: 80%;
}

/************************
***Media query section***
************************/

@media screen and (max-width: 750px) {
  .cell {
    width: 50px;
    height: 50px;
    font-size: 1rem;
  }
  .cell::before {
    right: 60px;
  }
  .cell::after {
    top: 60px;
  }
}
